.StoreItems {
  background: transparent;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  height: 100%;
  z-index: 0;
  justify-content: center;
  padding-top: 2rem;
}

@media (max-width: 500px) {
  .StoreItems {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .StoreItems {
    width: 100%;
  }
}
