.Order {
  width: 45%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0.4rem;
  margin: 0 auto;
}
.Order div:first-child {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  position: relative;
  border: none;
}

.Order div {
  width: 40%;
  height: 6rem;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.Order span {
  display: flex;
  justify-content: space-around;
}

.Order img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.RemoveAll {
  font-size: 1.2rem;
  border: none;
  background: white;
  position: absolute;
  right: 0;
}

.RemoveAll:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1024px) {
  .Order {
    width: 60%;
  }
  .RemoveAll {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .Order {
    width: 80%;
  }
  .Order p {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .Order {
    width: 90%;
  }
  .Order p {
    font-size: 0.8rem;
  }
  .RemoveAll {
    font-size: 1rem;
  }
}
